h5 Survey
.row
    .col-md-8
        .form-group.form-group-default
            label Legislator            
            input#legislators.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='committee.searchByZipcode($("#legislators").val())') Search
