h3 Overview

p.
    The purpose of this research is to better understand cyberaggression and cyberbullying in online social networks.  Please help us by answering the questions for each image and its associated posts on Instagram.  Use the definitions to the left to answer the questions about the different types of content that is posted.

button.btn.btn-primary.pull-right(onClick='picture.loadQuestions(false,-1,0,0,0,0)') Continue