h5 Survey
.row
    .row
        .form-group.form-group-default
            label Legislator            
            input#legislators.form-control(type='text', required='')                
    .row
        h5 Questions:
        input#Q1.form-control(type="radio" name="survey" id="Q1" value="yes" Yes</td>
        <td><input type="radio" name="survey" id="Q1" value="no" /> No</td>
        button.btn.btn-primary.pull-right(onClick='committee.searchByZipcode($("#legislators").val())') next
