.row
    .col-md-3
        <h3> INSTRUCTIONS: </h3>
        <p> Based on the definitions of Cyberagression and Cyberbullying, please look over the picture and comments and answer the questions.</p>
        <h3> DEFINITIONS: </H3>
        <p> <b>Cyberaggression</b> is broadly defined as using digital media to intentionally harm another person.  An example includes negative content and words such as profanity, slang and abbreviations that would be used in negative posts such as hate, fight, wtf.</p>
        <p> <b>Cyberbullying</b> is one form of cyberaggression that is more restrictively defined as intentional aggression that is repeatedly carried out in an electronic context against a person who cannot easily defend him or herself.  </p>
    .col-md-9
        div#pictures