.row
    .col-md-3
        <h3> INSTRUCTIONS: </h3>
        <p> These are some instructions about what is about to happen.  Rule number one, you have no opinons about how bad this website looks.  Rule number two, you will give your routing number and accnt number to the Nigerian prince that is trying to move money into the states.  Rule number three, A's to everyone. </p>
    .col-md-9
        div#list //picture to look at
        div#questions where we have the questions – ui?